/*
    aTeX - Lightweight TeX-style mathematics in JavaScript
    Copyright © 2015  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.tex-error {
	font-weight: bold;
	color: red;
}

.tex-maths-display {
	display: block;
	text-align: center;
}

.tex-variable {
	font-style: italic;
}
.tex-maths-upright > .tex-variable { /* Direct descendants only */
	font-style: normal;
}

.tex-align {
	display: table;
	margin: 0 auto;
}
.tex-align > div {
	display: table-row;
}
.tex-align > div > span.tex-align-lhs {
	display: table-cell;
	text-align: right;
}.tex-align > div > span.tex-align-rhs {
	display: table-cell;
	text-align: left;
}

.tex-delim {
	display: inline-block; /* some browsers don't accept transforms on inline elements */
}

.tex-overline {
	position: relative;
}
.tex-overline::after {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	top: 0.2em; /* lower overline */
	border-bottom: 1px solid;
}

.tex-frac {
	display: inline-block;
	height: 2em;
}
.tex-maths-inline .tex-frac {
	font-size: 0.8em;
}
.tex-frac > span {
	display: block;
	position: relative;
	height: 0;
	text-align: center;
}
.tex-frac > span.tex-frac-num {
	top: -0.5em;
}
.tex-frac > span.tex-frac-bar {
	top: 0.9em;
	border-bottom: 1px solid;
}
.tex-frac > span.tex-frac-den {
	top: 0.7em;
}

.tex-sqrt::before {
	content: '√';
}
.tex-sqrt > span {
	position: relative;
}
.tex-sqrt > span::after {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	top: 0.1em; /* reduce gap between &radic; and line */
	border-bottom: 1px solid;
}

.tex-subsup {
	display: inline-block;
	height: 1em;
	font-size: 0.7em;
}
.tex-subsup > span {
	display: block;
	position: relative;
	height: 0;
}
.tex-subsup span.sup {
	top: -0.7em;
}
.tex-subsup span.sub {
	top: 0.3em;
}

.tex-limit {
	display: inline-block;
	height: 1em;
}
.tex-limit > span {
	display: block;
	position: relative;
	height: 0;
	text-align: center;
}
.tex-limit > span.tex-limit-mid {
	top: -0.3em;
}
.tex-limit > span.tex-limit-top {
	top: -1.4em;
	font-size: 0.7em;
}
.tex-limit > span.tex-limit-bot {
	top: 0.9em;
	font-size: 0.7em;
}

.tex-bold {
	font-weight: bold;
}
