/*
    aTeX - Lightweight TeX-style mathematics in JavaScript
    Copyright © 2015  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.tex-error {
	font-weight: bold;
	color: red;
}

.tex-maths-display {
	display: block;
	text-align: center;
}

.tex-variable {
	font-style: italic;
}
.tex-maths sub, .tex-maths sup {
	font-size: 0.7em;
}

.tex-frac {
	display: inline-block;
	height: 2em;
}
.tex-maths-inline .tex-frac {
	font-size: 0.8em;
}
.tex-frac > div {
	position: relative;
	height: 0;
	text-align: center;
}
.tex-frac > div.tex-frac-num {
	top: -0.5em;
}
.tex-frac > div.tex-frac-bar {
	top: 0.9em;
	border-bottom: 1px solid;
}
.tex-frac > div.tex-frac-den {
	top: 0.7em;
}

.tex-overline {
	position: relative;
}
.tex-overline::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	top: 0.2em; /* lower overline */
	border-bottom: 1px solid;
}
